@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.floating {
  @apply translate-x-1 -translate-y-1 hover:translate-x-0 hover:translate-y-0 hover:shadow-none;
  box-shadow: -4px 4px 0 0 black;
}